.App {
  height: 100vh;
  color: #fff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;

}

.listitemList {
  /* height: 50vh; */
  border: 2px solid #333;
  flex-grow: 1;
  /* height: 100%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow-y: scroll;
}

ul {
  list-style: none;
}

.listitemList li {
  font-size: 2rem;
  margin: 1rem 0;
  padding: 1rem;
  border: 2px solid #333;
  width: 14rem;
  text-align: center;
}